html[data-icon-pack="mono"] .gt-icon {
  stroke-width: var(--gt-icon-stroke, 0.5);
  stroke-linecap: var(--gt-icon-linecap, square);
  stroke-linejoin: var(--gt-icon-linejoin, miter);
  fill: var(--gt-icon-fill, currentColor);
  fill-opacity: var(--gt-icon-fill-opacity, 1);
  stroke: currentColor;
  stroke-opacity: 0.15;
}
html[data-icon-pack="mono"] .gt-icon [fill="none"] {
  fill: currentColor;
}
